.row{
	margin-top: -15px;
}
.row .row{
	margin-top: 0;
	margin-bottom: 0;
	border: 1px solid #000;
}
[class*="col-"]{
	padding-top: 15px;
	/*padding-bottom: 15px;
	background: #eee;
	background: rgba(86,61,124,.15);*//*
	border: 1px solid #DDDDDD;
	border: 1px solid rgba(86,61,124,.2);*/
}
[class*="col-sm-"]{
	border: 1px solid #000;
}
