/*p{
	width: 100px;
}
*/
*{
	margin: 0;
}
body{
	margin: 10px auto;
	width: 70%;
	height: auto;
	/*background: orange;*/
}
.p1{
	/*width: 400px;*/
	max-width: 300px;
	line-height: normal;
	cursor: cell;/*设置指针*/
	visibility: visible;
}
.p2{
	/*width: 400px;*/
	min-width: 400px;
	line-height: 200%;
}
.p3{
	width: 400px;
	line-height: 50%;
}
.image{
	border: 1px solid red;
	width: auto;
	height: auto;
	float: left;
	text-align: center;
	margin: 5px;
}
.text{
	font-size: 12px;
	margin-bottom: 5px;
	position: absolute;
	right: 0;
}
img{
	margin: 5px;
	opacity: 0.5;
}
a:hover{
	background-color: #0000FF;
}
ul{
	list-style-type: none;
	margin: 0;
	padding: 0;
}
a:link,a:visited{
	text-decoration: none;
	/*display: block;*/
	background: #ccc;
	color: red;
	width: 50px;
	text-align: center;
}
a:active,a:hover{
	background: #00FFFF;
}
li{
	display: inline;
}
