body{
	padding-top: 70px;
}
.navbar-inverse input[type="text"]{
	background: #FFFFFF;
	border: none;
	color: #C7254E;
}
.navbar-inverse .navbar-form{
	position: relative;
}
.navbar-inverse button[type="submit"]{
	position: absolute;
	top: 15%;
	right: 20px;
	background:none;
	border: none;
}
.navbar-inverse .glyphicon{
	color: #C7254E;
}
