*{
	margin: 0;
	padding: 0;
}
.container {
	padding-right: 5px;
	padding-left: 5px;
	margin-right: auto;
	margin-left: auto;
}
@media (min-width:768px) {
	.container {
		width: 750px
	}
}

@media (min-width:992px) {
	.container {
		width: 970px
	}
}

@media (min-width:1200px) {
	.container {
		width: 1170px
	}
}
td,th{
	text-align: center;
}
.left{
	text-align: left;
}
#logo{
	width: 200px;
	height: 50px;
	padding: 5px;
}
.grey{
	background: #C0C0C0;
}
.darkgrey{
	background: #3C3C3C;
}
.pink{
	background: #FAEBCC;
}
